# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.pyc
*.pyd
*.pyo
*.so

# Miscellaneous
*.bak
*.swp
*~
